<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3>Hi <%= @person.first_name %> <%= @person.last_name %></h3>
    <p>Please notice that <%= @person.first_name %> <%= @person.last_name%> has joined the application</p>
    <p>Regards, </p>
    <p>People System</p>
  </body>
</html>
