<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
  <h3>Hi <%= @person.first_name %> <%= @person.last_name %></h3>
    <p>Please notice that <%= @person.first_name %> <%= @person.last_name%> has joined the application</p>
    <p>If you want to access it, please visit this <a href="https://peoplemanagerspa.herokuapp.com">SPA link</a><p>
    <p>If you want to check the Rails API, please visit this <a href="https://people-manager-api.herokuapp.com">API link</a><p>
    <p>If you want to check the gitHub repos, please visit this <a href="https://github.com/gtrujillop/people_manager">gitHub API</a>
    <p>and this <a href="https://github.com/gtrujillop/people_manager_spa">gitHub SPA</a>
    <p>
    <p>Regards,</p>
    <p>Gaston Trujillo Pulgar</p>
    <p>Ruby on Rails Developer.</p>
  </body>
</html>
